@model OAuth2PersonalNotes.DTO.Note

@{
    ViewBag.Title = "Edit a note";
}

<div class="page-header">
    <h1>Create Note</h1>
</div>
@using (Html.BeginForm("Edit", "Notes", FormMethod.Post, new { id = Model.Id }))
{
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @Html.EditorFor(x => x.Name)
                    </h3>
                </div>
                <div class="panel-body">
                    @Html.TextAreaFor(x => x.Description, new{@class="text-area-default-size"})
                </div>
                <div class="panel panel-footer clearfix">
                    <div class="col-md-5 no-left-padding">
                        @Html.EditorFor(x => x.ReminderDate)
                    </div>

                    <div class="col-md-7">
                        <button type="submit" class="btn btn-sm btn-primary">Save</button>

                        @Html.Raw(" | ")

                        @Html.ActionLink("Cancel", "Index", "Notes", new { @class = "btn btn-sm btn-warning" })
                    </div>

                </div>
            </div>

        </div>
    </div>
}

