@using JwtClaimTypes = IdentityModel.JwtClaimTypes;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Personal Notes", "Index", "Notes", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            @Html.ActionLink(string.Format("Logout ({0} {1})",

                                    ((User.Identity as System.Security.Claims.ClaimsIdentity).FindFirst(JwtClaimTypes.GivenName) == null
                                        ? "" : (User.Identity as System.Security.Claims.ClaimsIdentity).FindFirst(JwtClaimTypes.GivenName).Value),

                                    ((User.Identity as System.Security.Claims.ClaimsIdentity).FindFirst(JwtClaimTypes.FamilyName) == null
                                        ? "" : (User.Identity as System.Security.Claims.ClaimsIdentity).FindFirst(JwtClaimTypes.FamilyName).Value))

                                    , "Logout", "UserAccount")
                        </li>
                        <li>
                            @{
                                var isAdmin = (User.Identity as System.Security.Claims.ClaimsIdentity).FindAll("role").Select(x => x.Value).Contains("PersonalNotesAdmin");
                                if (isAdmin)
                                {
                                    @Html.ActionLink("Administration", "Index", "Notes");
                                }
                            }
                        </li>
                    }
                </ul>
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Cuong Duong's ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
